<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gotkx.mapper.SystemIndustryHsMapper" >

    <resultMap id="BaseResultMap" type="com.gotkx.model.SystemIndustryHs" >
        <result column="industry_id" property="industryId" jdbcType="BIGINT" />
        <result column="industry_name" property="industryName" jdbcType="VARCHAR"/>
        <result column="parent_industry" property="parentIndustry" jdbcType="BIGINT"/>
        <result column="merchant_class" property="merchantClass" jdbcType="INTEGER"/>
        <result column="sp_industry_id" property="spIndustryId" jdbcType="BIGINT"/>
        <result column="mcc_id" property="mccId" jdbcType="VARCHAR"/>
        <result column="fy_industy_id" property="fyIndustyId" jdbcType="VARCHAR"/>
        <result column="fy_mcc" property="fyMcc" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="physics_flag" property="physicsFlag" jdbcType="VARCHAR"/>
        <result column="third_industry_code" property="thirdIndustryCode" jdbcType="VARCHAR"/>
        <result column="hs_industry_code" property="hsIndustryCode" jdbcType="VARCHAR"/>
        <result column="industry_type" property="industryType" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        industry_id,
        industry_name,
        parent_industry,
        merchant_class,
        sp_industry_id,
        mcc_id,
        fy_industy_id,
        fy_mcc,
        remark,
        physics_flag,
        third_industry_code,
        hs_industry_code,
        industry_type
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM system_industry_hs
    </select>

<!--    <insert id="insert" parameterType="com.gotkx.model.SystemIndustryThird" useGeneratedKeys="true" keyProperty="industry_id">-->
<!--        INSERT INTO-->
<!--        system_industry_third-->
<!--        (<include refid="Base_Column_List" />)-->
<!--        VALUES-->
<!--        (-->
<!--        #{id}, #{industryId}, #{industryType},#{industryName},#{parentIndustry},#{merchantClass},-->
<!--        #{thirdMccId},#{hsIndustryCode},#{remark},#{physicsFlag},#{createUser},#{createUserName},#{updateUser},#{updateUserName},-->
<!--        #{createTime},#{updateTime}-->
<!--        )-->
<!--    </insert>-->

    <!--    <insert id="insert" parameterType="com.gotkx.model.User" >-->
<!--       INSERT INTO -->
<!--       		users-->
<!--       		(userName,passWord,user_sex) -->
<!--       	VALUES-->
<!--       		(#{userName}, #{passWord}, #{userSex})-->
<!--    </insert>-->
<!--    -->
<!--    <update id="update" parameterType="com.gotkx.model.User" >-->
<!--       UPDATE -->
<!--       		users -->
<!--       SET -->
<!--       	<if test="userName != null">userName = #{userName},</if>-->
<!--       	<if test="passWord != null">passWord = #{passWord},</if>-->
<!--       	nick_name = #{nickName}-->
<!--       WHERE -->
<!--       		id = #{id}-->
<!--    </update>-->
<!--    -->
<!--    <delete id="delete" parameterType="java.lang.Long" >-->
<!--       DELETE FROM-->
<!--       		 users -->
<!--       WHERE -->
<!--       		 id =#{id}-->
<!--    </delete>-->

</mapper>